@media screen and (max-width:700px){
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width:300px;
    }
}
@media screen and (max-width:450px){
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao{
        padding: 10px 10px;
        margin-top: 5px;
        width:150px;
        font-size: 10px;
    }

    header .logo {
        font-size: 30px;
    }

    header nav a {
        font-size: 16px;
    }

    .titulo{
        font-size: 35px;
    }

    .filme-principal{
        font-size: 14px;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%), url("/img/56v2KjBlU4XaOv9rVYEQypROD7P.jpg");
        height: 350px;
        background-size: cover;
    }

    .filme-principal .descricao {
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .carrosel-filmes{
        margin-top: 5px;
        padding: 10px 10px;
    }
    
    
    .box-filme{
        max-width:150px;
        max-height:250px;
        width: auto;
        height: auto;
    }
}

@media screen and (min-width:100px){
    .descricao{
        width: 50%;
    }
}
/* @media screen and (min-width:1000px){
    .owl-carousel{
        width: 90%;
    }
} */
